/* styles.css */

body {
    font-family: 'Arial', sans-serif; /* Fallback en caso de que la fuente principal no se cargue */
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif; /* Utiliza la fuente principal para h1, h2, h3 */
}

label {
    margin-top: 10px;
}

select {
    width: 200px;
    margin-right: 10px;
}

button {
    margin-top: 10px;
}

#resultado {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Agrega estas reglas para ajustar el tamaño de las imágenes al 50% */
#resultado img {
    width: 30%;
}

#resultado > div {
    border: 1px solid #ddd; /* Color del borde */
    padding: 10px; /* Espaciado interno */
    margin: 10px; /* Margen externo */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo gris claro */
}

/* Agrega el enlace a la fuente de Google Fonts al final del archivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
